
<body>

<div class="first-menu mbox">
    <div class="first-menu__left">
        <a href="">Navigation</a>
        <a href="">Clasification</a>
        <a href="">Multimedia</a>
        <a href="">Buy</a>
        <a href="">Callback</a>
    </div>

    <div class="first-menu__right">
        <div class="step">
            <div class="step__avatar"></div>
            <div class="step__text">Каждый веб-разработчик знает, что такое текст-«рыба».
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.
                Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента,
                просмотра шрифтов, абзацев, отступов и т.д.
            </div>
        </div>
        <div class="step">
            <div class="step__avatar"></div>
            <div class="step__text">Каждый веб-разработчик знает, что такое текст-«рыба».
                Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.
                Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента,
                просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно
                демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того,
                нечитабельность текста сыграет на руку при оценке качества восприятия макета.
            </div>
        </div>
        <div class="step">
            <div class="step__avatar"></div>
            <div class="step__text">Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</div>
        </div>
    </div>
</div>

<div class="mbox ">
    <div class="table">
        <div class="table__row">
            <div class="table__row--coll"> Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации
            </div>
            <div class="table__row--coll">Используется он веб-дизайнерами</div>
            <div class="table__row--coll">Используется он веб-дизайнерами для вставки на</div>
            <div class="table__row--coll">Используется он веб-дизайнерами для</div>
        </div>
        <div class="table__row">
            <div class="table__row--coll">1</div>
            <div class="table__row--coll">2</div>
            <div class="table__row--coll">3</div>
            <div class="table__row--coll">4</div>
        </div>
        <div class="table__row">
            <div class="table__row--coll">1</div>
            <div class="table__row--coll">2</div>
            <div class="table__row--coll">3</div>
            <div class="table__row--coll">4</div>
        </div>
    </div>
</div>

<div class="mbox">
        <label>
            <input type="radio" name="www">
            <i></i>
            <span>Dobre</span>
        </label>

        <label>
            <input type="radio" name="www">
            <i></i>
            <span>Dobre</span>
        </label>
</div>


<div class="mbox">
    <div class="rate">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
        <div class="star5 star"></div>
    </div>
</div>

<div class="mbox">
    <label>
        <input type="checkbox" name="ggg">
        <b></b>
        <span>Dobre</span>
    </label>
    <label>
        <input type="checkbox" name="ggg">
        <b></b>
        <span>Dobre</span>
    </label>
    <label>
        <input type="checkbox" name="ggg">
        <b></b>
        <span>Dobre</span>
    </label>

</div>

<div class="mbox">
    <label id="teext">
        <input type="text" name="txt" id="txt">
        <span>text<p>*</p></span>
    </label>
</div>

<div class="mbox">

    <textarea></textarea>

</div>


    <div class="mbox">
        <div class="top-menu">
            <div class="little">
                <div class="sook">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>


            <ul>
                <li><a href="">Establishment</a>
                    <ul>
                        <li><a href="">Yes slovo na 12 simvolov</a></li>
                        <li><a href="">No</a></li>
                        <li><a href="">Maybe</a></li>
                        <li><a href="">Vrode norm</a></li>
                    </ul>
                </li>
                <li><a href="">Establishment</a>
                    <ul>
                        <li><a href="">No</a></li>
                        <li><a href="">Maybe</a></li>
                    </ul>
                </li>
                <li><a href="">Ignoring</a>
                    <ul>
                        <li><a href="">Yes slovo na 12 simvolov</a></li>
                        <li><a href="">No</a></li>
                        <li><a href="">Maybe</a></li>
                    </ul>
                </li>
                <li><a href="">Multimedia</a>
                    <ul>
                        <li><a href="">Yes slovo na 12 simvolov</a></li>
                        <li><a href="">No</a></li>
                        <li><a href="">Maybe</a></li>
                    </ul>
                </li>
                <li><a href="">Offers</a>
                    <ul>
                        <li><a href="">Yes slovo na 12 simvolov esli dolgo dolgo</a></li>
                        <li><a href="">No</a></li>
                    </ul>
                </li>
                <li><a href="">Backstage</a>
                    <ul>
                        <li><a href="">Yes slovo na 12 simvolov</a></li>
                        <li><a href="">No</a></li>
                        <li><a href="">Maybe</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</body>
